$cvms-primary-palette: (
  50: #DAE8F3,
  100: #9DC1DF,
  200: #80AED5,
  300: #609ACA,
  400: #2F7BBA,
  500: #0A64AE,
  600: #095A9D,
  700: #063C68,
  800: #042846,
  900: #021423,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
  )
);

$cvms-accent-palette: (
  50: #FEF2F8,
  100: #F8BFDF,
  200: #F599CB,
  300: #EF66B1,
  400: #EA3397,
  500: #E5007D,
  600: #CE0071,
  700: #AC005E,
  800: #7E0045,
  900: #50002C,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
  )
);

$cvms-grayscale: (
  0: #FFFFFF,
  50: #FAFAFA,
  100: #F2F2F2,
  200: #E6E6E6,
  250: #DADAD9,
  300: #CCCCCC,
  400: #B3B3B3,
  500: #999999,
  600: #808080,
  700: #666666,
  800: #4D4D4D,
  900: #333333,
  1000: #000000
);

:root {
  --cvms-primary-palette-50: #{map-get($cvms-primary-palette, 50)};
  --cvms-primary-palette-100: #{map-get($cvms-primary-palette, 100)};
  --cvms-primary-palette-200: #{map-get($cvms-primary-palette, 200)};
  --cvms-primary-palette-300: #{map-get($cvms-primary-palette, 300)};
  --cvms-primary-palette-400: #{map-get($cvms-primary-palette, 400)};
  --cvms-primary-palette-500: #{map-get($cvms-primary-palette, 500)};
  --cvms-primary-palette-600: #{map-get($cvms-primary-palette, 600)};
  --cvms-primary-palette-700: #{map-get($cvms-primary-palette, 700)};
  --cvms-primary-palette-800: #{map-get($cvms-primary-palette, 800)};
  --cvms-primary-palette-900: #{map-get($cvms-primary-palette, 900)};

  --cvms-accent-palette-50: #{map-get($cvms-accent-palette, 50)};
  --cvms-accent-palette-100: #{map-get($cvms-accent-palette, 100)};
  --cvms-accent-palette-200: #{map-get($cvms-accent-palette, 200)};
  --cvms-accent-palette-300: #{map-get($cvms-accent-palette, 300)};
  --cvms-accent-palette-400: #{map-get($cvms-accent-palette, 400)};
  --cvms-accent-palette-500: #{map-get($cvms-accent-palette, 500)};
  --cvms-accent-palette-600: #{map-get($cvms-accent-palette, 600)};
  --cvms-accent-palette-700: #{map-get($cvms-accent-palette, 700)};
  --cvms-accent-palette-800: #{map-get($cvms-accent-palette, 800)};
  --cvms-accent-palette-900: #{map-get($cvms-accent-palette, 900)};

  --cvms-grayscale-0: #{map-get($cvms-grayscale, 0)};
  --cvms-grayscale-50: #{map-get($cvms-grayscale, 50)};
  --cvms-grayscale-100: #{map-get($cvms-grayscale, 100)};
  --cvms-grayscale-200: #{map-get($cvms-grayscale, 200)};
  --cvms-grayscale-250: #{map-get($cvms-grayscale, 250)};
  --cvms-grayscale-300: #{map-get($cvms-grayscale, 300)};
  --cvms-grayscale-400: #{map-get($cvms-grayscale, 400)};
  --cvms-grayscale-500: #{map-get($cvms-grayscale, 500)};
  --cvms-grayscale-600: #{map-get($cvms-grayscale, 600)};
  --cvms-grayscale-700: #{map-get($cvms-grayscale, 700)};
  --cvms-grayscale-800: #{map-get($cvms-grayscale, 800)};
  --cvms-grayscale-900: #{map-get($cvms-grayscale, 900)};
  --cvms-grayscale-1000: #{map-get($cvms-grayscale, 1000)};
}

// Constants
$text-color: map-get($cvms-grayscale, 800);
$subtext-color: map-get($cvms-grayscale, 700);
$color-primary-default: map-get($cvms-primary-palette, 500);
$color-accent-default: map-get($cvms-accent-palette, 500);
