@use '@angular/material' as mat;

@import "styles/colors";

@include mat.core();

$cm-primary: mat.define-palette($cm-primary-palette);
$cm-accent: mat.define-palette($cm-accent-palette);

$cm-light-theme: mat.define-light-theme($cm-primary, $cm-accent);

@include mat.core-theme($cm-light-theme);
@include mat.all-component-themes($cm-light-theme);

mat-icon {
  color: map-get($cm-grayscale, 600);
}
